<div class="top-nav">{{ page.navigation }}</div>

<div class="front-wrapper">

  <div class="slider" id="top">{{ page.slider }}</div>

  <div class="about" id="about">{{ page.about }}</div>

  <div class="works" id="portfolio">{{ page.works }}</div>

  <div class="news" id="news">{{ page.news }}</div>

  <div class="comments" id="testimonials">{{ page.comments }}</div>

  <div class="team" id="team">{{ page.team }}</div>

  <div class="logos" id="partners">{{ page.logos }}</div>

  <div class="pricing" id="price">{{ page.pricing }}</div>

</div>

<div class="footer-stuff" id="contact">{{ page.footer }}</div>

<div class="foot-nav">{{ page.footermenu }}</div>
